[init]
	defaultBranch = master
[user]
	email = mammadovagil@proton.me
	name = Agil Mammadov
	signingkey = 7934F07373543B9F78D8B0FDB70C4C90BF5E4DE6
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
[format]
	signoff = true
