[init]
	defaultBranch = master
[user]
	email = mammadovagil@tutamail.com
	name = Agil Mammadov
	signingkey = B70C4C90BF5E4DE6
[core]
	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
