! Font
XTerm*faceName: JetBrainsMonoNerdFont Medium
XTerm*faceSize: 10

! Colors
XTerm*foreground: #ffffff
XTerm*background: #101010
XTerm*cursorColor: #ffffff

! Scrollback
XTerm*saveLines: 10000

! Clipboard (important)
XTerm*selectToClipboard: true

XTerm*VT100.Translations: #override \
    Shift Ctrl <Key>C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key>V: insert-selection(CLIPBOARD)
